### 1. Handling Missing Values
**Definition:**

Missing values in a dataset are entries for which no data was recorded. They can arise due to various reasons (sensor failure, skipped fields, data corruption, etc.).

- Why handle them?

  - Many ML algorithms can't process missing values directly.

  - They can bias or distort analysis if not treated properly.

  - Clean data ensures more reliable, interpretable insights.

### 2. Dropping and Imputing Columns/Rows with Missing Data

**Definition:**

Dropping removes columns or rows entirely if they're considered uninformative or too incomplete to fix.

- When to drop?

  - If a column has too many missing values (e.g., >30%).

  - If a row is missing crucial data and cannot be imputed reasonably.

Code Example:

In [1]:
import pandas as pd
import numpy as np

# Example DataFrame
data = {
    'A': [1, np.nan, 3, 4, 5],
    'B': [np.nan, np.nan, np.nan, 4, 5],
    'C': [1, 2, 3, np.nan, 5]
}
df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

# Drop rows with ANY missing values
df_drop_rows = df.dropna(axis=0)
print("\nAfter dropping rows with any missing values:\n", df_drop_rows)

# Drop columns with ANY missing values
df_drop_cols = df.dropna(axis=1)
print("\nAfter dropping columns with any missing values:\n", df_drop_cols)

# Drop columns with more than a threshold (e.g., 50%) missing values
threshold = 0.5 * len(df)
df_drop_threshold = df.dropna(axis=1, thresh=threshold)
print("\nAfter dropping columns with >50% missing values:\n", df_drop_threshold)

Original DataFrame:
      A    B    C
0  1.0  NaN  1.0
1  NaN  NaN  2.0
2  3.0  NaN  3.0
3  4.0  4.0  NaN
4  5.0  5.0  5.0

After dropping rows with any missing values:
      A    B    C
4  5.0  5.0  5.0

After dropping columns with any missing values:
 Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

After dropping columns with >50% missing values:
      A    C
0  1.0  1.0
1  NaN  2.0
2  3.0  3.0
3  4.0  NaN
4  5.0  5.0

### 2.2 Imputing (Filling) Missing Values
**Definition:**

Imputation replaces missing values with substituted values based on various strategies.

- When to impute?

  - When the column is important for analysis.

  - When the missingness is not substantial, and values can be plausibly estimated.

Possible Imputation Techniques & Code Examples:

a) Fill with a Constant (e.g., 0, "unknown")

In [2]:

df_constant = df.fillna(0)
print("\nFill missing values with 0:\n", df_constant)

Fill missing values with 0:
      A    B    C
0  1.0  0.0  1.0
1  0.0  0.0  2.0
2  3.0  0.0  3.0
3  4.0  4.0  0.0
4  5.0  5.0  5.0

b) Fill with Mean / Median / Mode

In [3]:
# Fill numerical columns with mean
df_mean = df.fillna(df.mean(numeric_only=True))
print("\nFill numerical columns with mean:\n", df_mean)

# Fill numerical columns with median
df_median = df.fillna(df.median(numeric_only=True))
print("\nFill numerical columns with median:\n", df_median)

# Fill categorical columns with mode
df_mode = df.apply(lambda x: x.fillna(x.mode()[0]) if x.dtype=='O' else x)
print("\nFill categorical columns with mode:\n", df_mode)

Fill numerical columns with mean:
       A    B     C
0  1.00  4.5  1.00
1  3.25  4.5  2.00
2  3.00  4.5  3.00
3  4.00  4.0  2.75
4  5.00  5.0  5.00

Fill numerical columns with median:
      A    B    C
0  1.0  4.5  1.0
1  3.5  4.5  2.0
2  3.0  4.5  3.0
3  4.0  4.0  2.5
4  5.0  5.0  5.0

Fill categorical columns with mode:
      A    B    C
0  1.0  NaN  1.0
1  NaN  NaN  2.0
2  3.0  NaN  3.0
3  4.0  4.0  NaN
4  5.0  5.0  5.0

c) Forward Fill / Backward Fill (for time series or panel data)

In [4]:
df_ffill = df.fillna(method='ffill')
print("\nForward fill missing values:\n", df_ffill)

df_bfill = df.fillna(method='bfill')
print("\nBackward fill missing values:\n", df_bfill)

Forward fill missing values:
      A    B    C
0  1.0  NaN  1.0
1  1.0  NaN  2.0
2  3.0  NaN  3.0
3  4.0  4.0  3.0
4  5.0  5.0  5.0

Backward fill missing values:
      A    B    C
0  1.0  4.0  1.0
1  3.0  4.0  2.0
2  3.0  4.0  3.0
3  4.0  4.0  5.0
4  5.0  5.0  5.0

C:\Users\malle\AppData\Local\Temp\ipykernel_11252\3791612229.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffill = df.fillna(method='ffill')
C:\Users\malle\AppData\Local\Temp\ipykernel_11252\3791612229.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bfill = df.fillna(method='bfill')

d) Advanced: KNN Imputer / Iterative Imputer (for large projects)

In [ ]:
from sklearn.impute import KNNImputer

knn_imputer = KNNImputer(n_neighbors=2)
df_knn = pd.DataFrame(knn_imputer.fit_transform(df), columns=df.columns)
print("\nKNN Imputed DataFrame:\n", df_knn)

### 3. Choosing the Best Approach
**Guidelines:**

  - Drop columns if lots of information is missing (>30â€“50%), but consider domain importance.

  - Impute when missingness is moderate, using domain knowledge to choose the technique.

  - Use mean/median for numeric, mode for categorical, and advanced methods for critical variables.

In [ ]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer

# Create a dummy dataset with missing values
data = {
    'Age': [25, np.nan, 30, 22, 40, np.nan, 28],
    'Salary': [50000, 60000, np.nan, 52000, 58000, 62000, np.nan],
    'City': ['New York', 'Los Angeles', 'New York', np.nan, 'Chicago', 'Chicago', 'Los Angeles'],
    'Purchased': ['Yes', 'No', np.nan, 'No', 'Yes', 'Yes', 'No']
}

df_dummy = pd.DataFrame(data)
print("Original Dummy Dataset with Missing Values:")
print(df_dummy)

# Assignment Tasks (interns should attempt):
# 1. Drop columns or rows with excessive missing values.
# 2. Impute missing numerical columns (Age, Salary) with mean or median.
# 3. Impute missing categorical columns (City, Purchased) with mode.
# 4. Optionally, apply KNN imputation for numerical columns.

# Example imputation with mean and mode:
df_imputed = df_dummy.copy()
df_imputed['Age'] = df_imputed['Age'].fillna(df_imputed['Age'].mean())
df_imputed['Salary'] = df_imputed['Salary'].fillna(df_imputed['Salary'].median())
df_imputed['City'] = df_imputed['City'].fillna(df_imputed['City'].mode()[0])
df_imputed['Purchased'] = df_imputed['Purchased'].fillna(df_imputed['Purchased'].mode()[0])

print("\nDummy Dataset After Imputation:")
print(df_imputed)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer

# Re-create the dummy dataset for use in subsequent cells
data = {
    'Age': [25, np.nan, 30, 22, 40, np.nan, 28],
    'Salary': [50000, 60000, np.nan, 52000, 58000, 62000, np.nan],
    'City': ['New York', 'Los Angeles', 'New York', np.nan, 'Chicago', 'Chicago', 'Los Angeles'],
    'Purchased': ['Yes', 'No', np.nan, 'No', 'Yes', 'Yes', 'No']
}

df_dummy = pd.DataFrame(data)
print("Original Dummy Dataset with Missing Values:")
print(df_dummy)

#### Task 1: Drop columns or rows with excessive missing values.

In [ ]:
# Task 1: Drop columns or rows with excessive missing values.
# Let's define a threshold for dropping columns (e.g., more than 50% missing values)
threshold = 0.5 * len(df_dummy)
df_dropped_cols = df_dummy.dropna(axis=1, thresh=threshold)
print("\nDummy Dataset After Dropping Columns with >50% Missing Values:")
print(df_dropped_cols)

# Drop rows with any missing values (as an example, though not ideal for this small dataset)
df_dropped_rows = df_dummy.dropna(axis=0)
print("\nDummy Dataset After Dropping Rows with Any Missing Values:")
print(df_dropped_rows)

#### Task 2: Impute missing numerical columns (Age, Salary) with mean or median.

In [ ]:
# Task 2: Impute missing numerical columns (Age, Salary) with mean or median.
df_imputed_numerical = df_dummy.copy()
# Impute 'Age' with mean
df_imputed_numerical['Age'] = df_imputed_numerical['Age'].fillna(df_imputed_numerical['Age'].mean())
# Impute 'Salary' with median
df_imputed_numerical['Salary'] = df_imputed_numerical['Salary'].fillna(df_imputed_numerical['Salary'].median())
print("\nDummy Dataset After Imputing Numerical Columns (Age with Mean, Salary with Median):")
print(df_imputed_numerical)

#### Task 3: Impute missing categorical columns (City, Purchased) with mode.

In [ ]:
# Task 3: Impute missing categorical columns (City, Purchased) with mode.
df_imputed_categorical = df_dummy.copy()
# Impute 'City' with mode
df_imputed_categorical['City'] = df_imputed_categorical['City'].fillna(df_imputed_categorical['City'].mode()[0])
# Impute 'Purchased' with mode
df_imputed_categorical['Purchased'] = df_imputed_categorical['Purchased'].fillna(df_imputed_categorical['Purchased'].mode()[0])
print("\nDummy Dataset After Imputing Categorical Columns (City and Purchased with Mode):")
print(df_imputed_categorical)

#### Task 4: Optionally, apply KNN imputation for numerical columns.

In [ ]:
# Task 4: Optionally, apply KNN imputation for numerical columns.
# Select only numerical columns for KNN imputation
numerical_cols = df_dummy.select_dtypes(include=np.number).columns
df_numerical = df_dummy[numerical_cols]

knn_imputer = KNNImputer(n_neighbors=2)
df_knn_imputed_numerical = pd.DataFrame(knn_imputer.fit_transform(df_numerical), columns=numerical_cols)

# Combine imputed numerical columns with original categorical columns
df_knn_imputed = df_dummy.copy()
df_knn_imputed[numerical_cols] = df_knn_imputed_numerical
# Note: KNNImputer only works on numerical data. Categorical columns still need separate imputation if desired.
print("\nDummy Dataset After KNN Imputation on Numerical Columns:")
print(df_knn_imputed)